ul#slide-out.side-nav
    li
        .userView
            .background
                img(src="img/back.jpg")
            a(href="#", title="title")
                img.circle(src="img/me.jpg")
            a
                .white-text.name Aniket
            a
                .white-text.emai aniket965.as@gmail.com

    
    li
        a(href="#!") <i class="material-icons">view_day</i> Forum Categories
    li
        a(href="#!") <i class="material-icons">forum</i>List Discussions
    li
        a(href="#!") <i class="material-icons">chat</i>Discussion Detail
    li
        a(href="#!") <i class="material-icons">book</i>Bookmarks
    li
        .divider
    li

        a(href="#!") <i class="material-icons">recent_actors</i>Teams & Users
    li
        a(href="#!") <i class="material-icons">settings</i>Settings
a(href="#",data-activates="slide-out" ,class="button-collapse show-on-large")
    i.material-icons menu