
nav.dark-primary-color
    .nav-wrapper
        include ./side-nav.jade
        .brand-logo TeachMe
        .control
            a#floatbtn(class="btn-floating btn-large halfway-fab waves-effect waves-light",onclick="Materialize.toast('Online people are listed below !', 1000);").accent-color 
                i.material-icons add
                
        .space.right
        .space.right
        .space.right
        .space.right
        .space.right
        .space.right
        .space.right
        .space.right
        ul.right.hide-on-med-and-down
            
            li
                a(href="#", title="title")
                    i.material-icons view_module
            li
                a(href="#", title="title")
                    i.fa.fa-bell
            li
                a(href="#", title="title")
                    i.material-icons supervisor_account
        a(href="#", title="title").right

               
       