.mainaddcomments
    .card.pad
        .row
            .col.s12
                .row
                    .input-field.col.s12
                        textarea#textarea1.materialize-textarea(data-length="500")
                        label(for="textarea1") Add Comment
        button.btn.waves-effect.waves-light.accent-color Submit
            i.material-icons.right(onclick="Materialize.toast('TODO - // Send', 1000);") send
